.section {
    position: relative;
    padding-top: 80px;
    padding-bottom: 80px;
    font-size: 17px;
}

.mb-2, .my-2 {
    margin-bottom: .5rem!important;
}
.mt-5, .my-5 {
    margin-top: 3rem!important;
}
.mb-4, .my-4 {
    margin-bottom: 1.5rem!important;
}

.text-center {
    text-align: center!important;
}
.text-left {
    text-align: left!important;
}
.text-muted {
    /* color: #999!important; */
}
.text-uppercase {
    text-transform: uppercase!important;
}
.text-custom {
    color: #f6576e;
}

/**************** 
    Section Resume Professional 
*****************/

.resume-box, .resume-title h5 {
    display:inline-block;
    /* border:2px solid rgba(246,87,110,.7); */
    padding:4px 12px;border-radius:4px
}
.resume-box h6, .resume-title h5 {
    display: inline-block;
    border: 2px solid rgba(246,87,110,.7);
    padding: 4px 12px;
    border-radius: 4px;
}
.resume-title h5 {
    background:#fff;
    position:
    relative;
    font-size:18px
}
.resume-title:before {
    position: absolute;
    top: 16px;
    left: 0;
    right: 0;
    content: "";
    border: 2px solid rgba(246,87,110,.7);
    height: 71px;
    width: 56%;
    margin: 20px auto;
    border-bottom: transparent;
}


.skill {
    text-align: left;
}
.skill p {
    margin-bottom: 0px;
}

/**************** 
    Progress bar 
*****************/

.progress {
    display: -ms-flexbox;
    display: flex;
    height: 1rem;
    overflow: hidden;
    font-size: .75rem;
    background-color: #fff;
    border-radius: .25rem;
}
.progress {
    overflow: visible;
}
.progress-bar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #007bff;
    transition: width .6s ease;
}
.bg-custom {
    background-color: #e27689;
}
.progress .progress-bar {
    position: relative;
    border-radius: 6px;
    -webkit-animation: animate-positive 2s;
    animation: animate-positive 2s;
}
.progress-value {
    position: relative;
    right: -0px;
    font-size: 17px;
    float: right;
}